{% extends 'base_layout.html' %}
{% block custom_css %}
    <style>
    .schoolBlock {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        border: 1px solid black;
        padding: 2%;
    }
    .card {
        width: 15rem;
    }
    .camRow {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .camRow * {
        margin: 2%;
    }
    </style>
{% endblock %}
{% block content %}
    {% if Schools %}
        <div class="accordian" id="camAccordian">
        {% for School in Schools %}
            <div class="card" style="width: 100%">
            <div class="card-header" id="heading-{{ School.get_class_safe_name }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ School.get_class_safe_name }}" aria-expanded="true" aria-controls="">
                        {{ School | title }}
                    </button>
                </h2>
            </div>
            {% if School.cameras.all %}
                <div class="collapse" id="collapse-{{ School.get_class_safe_name }}" aria-labelledby="heading-{{ School.get_class_safe_name }}" data-parent="#camAccordian">
                <div class="card-body">
                <div class="camRow">
                    {% for Camera in School.cameras.all %}
                        {% include 'camera_card.html' with camera=Camera %}
                    {% endfor %}



                </div>

                </div>
            </div>
                {% else %}
                <div class="collapse" id="collapse-{{ School.get_class_safe_name }}" aria-labelledby="heading-{{ School.get_class_safe_name }}" data-parent="#camAccordian">
                <div class="card-body">
                    No Cameras Assigned to this School.
                </div>
            </div>

            {% endif %}
            </div>

        {% endfor %}

        </div>
        {% else %}
        <h2>Uh Oh!</h2>
        <p>It looks like we were unable to find any cameras. If you have the proper permissions, try checking out the <a
                href="{% url 'admin:index' %}">Admin Page</a></p>

    {% endif %} 
{% endblock %}